html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #00162B;
  /* border: 1px solid blue; */
}
.cover{
  /* background: radial-gradient(rgb(74, 206, 21) , white); */
  /* background: radial-gradient(39.85% 39.85% at 51.99% 2.48%, #19B7AD 0%, #FFFFFF 100%); */
  /* background: radial-gradient(35.15% 35.15% at 51.86% -13.12%, #19B7AD 0%, #FFFFFF 100%) */
  /* background: radial-gradient(56.93% 56.93% at 53.82% -11.39%, #79FFF7 0%, #7EFEC0 10.62%, #9BF2C9 39.06%, #FFFFFF 100%) */
  /* background: radial-gradient(55.45% 55.45% at 53.82% -11.39%, #7BFFF7 0%, #7EFEC0 4.44%, #CFFFFC 39.06%, #FFFFFF 100%) */
  /* background: radial-gradient(42.82% 42.82% at 53.82% -11.39%, #73FDBB 4.44%, #CFFFFC 34.08%, #FFFFFF 100%, #7BFFF7 100%) */
  /* background: radial-gradient(42.82% 42.82% at 53.82% -11.39%, #71FFBB 3.28%, #FFFFFF 100%, #FFFFFF 100%) */
  /* background: radial-gradient(41.34% 41.34% at 54.34% -12.87%, #71FFBB 0%, #61D79E 24.01%, #84E0D5 40.78%, #FFFFFF 100%, #FFFFFF 100%)
   */
   background: radial-gradient(37.87% 37.87% at 53.95% -16.34%, #71FFBB 0%, #61D79E 24.01%, #84E0D5 34.18%, #FFFFFF 100%, #FFFFFF 100%)
}